
<h1>Chat</h1>

<ul class="collection" id="messages">
   {{#each messages}}
    <li class="collection-item">{{this.from.name}} says: {{this.body}}</li>
  {{/each}}
</ul>

<div class="row">
    <form action="" id="chat">
      <input placeholder="Mensaje" id="m" autocomplete="off" /><button class="btn">Send</button>
    </form>
  </div>
            