
<h1>Chat</h1>

<ul class="collection" id="messages">
  <li class="collection-item">Alvin</li>
  <li class="collection-item">Alvin</li>
  <li class="collection-item">Alvin</li>
  <li class="collection-item">Alvin</li>
</ul>

<div class="row">
    <form action="" id="chat">
      <input placeholder="Mensaje" id="m" autocomplete="off" /><button class="btn">Send</button>
    </form>
  </div>
            