<h2>Login</h2>
<form method="POST" action="/users/login">
  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="username">
      <label> Username </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="password">
      <label> Password </label>
    </div>
  </div>

  <button type="submit" class="waves-effect waves-light btn">Login</button>

</form>