<h2>Register</h2>
{{#if errors}}
  {{#each errors}}
    <div class="row red lighten-3 grey-text text-lighten-5">{{msg}}</div>
  {{/each}}
{{/if}}
<form method="POST" action="/users/register">
  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="Name" name="name">
      <label> Name </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="username" name="username">
      <label> Username </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" placeholder="email" name="email">
      <label> E-mail </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="password" placeholder="password" name="password">
      <label> Password </label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="password" placeholder="Type password again" name="passwordConfirmation">
      <label> Confirm password </label>
    </div>
  </div>

  <button type="submit" class="waves-effect waves-light btn">Register</button>

</form>